@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner-border.loading {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Inter", sans-serif;
}

.right button {
  background-color: #77ccff;
  border: none;
  padding: 8px 90px;
}
.right {
  background-color: #f3f4f8;
}
.text-color {
  color: #5eaadd;
}
.right input::-webkit-input-placeholder {
  color: #5eaadd;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
.right .input-sec .form-icon {
  position: absolute;
    font-size: 18px;
    color: #000;
    transform: translateY(-50%);
    top: 68%;
    left: 18px;
    color: #5eaadd;
}
form h1::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  z-index: 1;
  border-radius: 0px;
  background-color: #5eaadd;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
input:focus-visible {
  outline: none;
}
.header-sec {
  position: sticky;
  top: 0;
}
.right-sec-2 {
  width: 85%;
  margin-left: auto;
}
.left-sidebar {
  width: 15%;
  height: 100vh;
  position: fixed;
  top: 80px;
  left: 0;
  border-top: 0;
  border-left: 0;
}
.right-sec {
  width: 85%;
  margin-left: auto;
}
.fa-house::before,
.fa-user::before,
.fa-address-book,
.fa-lock {
  color: blue !important;
}
.right-sec .modal .modal-box {
  overflow-y: auto;
  display: inline-table;
  margin-top: 10px;
}
.btn-3 {
  background-color: #166eb2;
}
table .btn-1 {
  background-color: #166eb2;
  padding: 11px 11px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
table .btn-2 {
  background-color: #f12518 !important;
}
ul,
summary {
  list-style-type: none;
}
summary::marker {
  color: #fff;
  z-index: -5;
}
.box-shadow {
  box-shadow: 1px 1px 20px #e1e1e178;
}
.Table-sec {
  overflow-x: auto;
}
.quote {
  margin: 0px;
}

.QuoteModal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 300ms;
  visibility: hidden;
  opacity: 0;
}

.QuoteModal:target {
  visibility: visible;
  opacity: 1;
}

.popup_modal {
  position: relative;
  margin: 0px auto;
  padding: 20px;
  background: white;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 10px #eee;
  width: 500px;
}

.popup_modal .quoteclose {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 20px;
  color: black;
}
dialog {
  margin: auto;
}
.filter-sec input[type="date"] {
  padding: 10px !important;
}
[type="date"] {
  background: #fff
    url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
    95% 50% no-repeat;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/*tooglee switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #22c55e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #22c55e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*new*/
.right-side-content {
  background-color: #1c1f26 !important;
}
.box-radius {
  border: 1px solid #c7d154;
}

.leftbar {
  width: 15%;
  height: 100vh;
  position: sticky;
  top: 8%;
}
.table-sec {
  overflow-x: hidden;
}
.right-sec {
  width: 85%;
  margin-left: auto;
}
.bg-dark {
  background-color: #252932 !important;
}
.header {
  top: 0;
  z-index: 1;
}
/*new*/
#my_modal_13 {
  overflow: hidden;
  min-height: 535px;
}

/*media--query*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .left-sidebar nav a,
  .left-sidebar ul li a {
    font-size: 16px;
  }
  .Wrapper-main .leave-cards ul li a {
    padding: 5px 0px !important;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .left-sidebar {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1023.98px) {
  .Wrapper-main .btn-sec,
  .leave-sec {
    padding: 15px 20px;
  }
  .left-sidebar {
    padding-left: 0px;
    
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .right-sec button {
    font-size: 16px;
  }
  .filter-sec input[type="date"] {
    padding: 8px 10px !important;
  }
  .left-sidebar {
    width: 17%;
    height: 100vh;
    padding-left: 0px;
    padding-right: 0px;
  }
  .right-sec-2 {
    width: 83%;
  }
  table th {
    font-size: 14px;
  }
  .left-sidebar nav a {
    font-size: 16px;
  }
  .leftbar a span {
    display: none;
  }
  table td .modal p {
    font-size: 16px !important;
  }
  .leave-sec {
    padding: 0px 20px;
  }
  .Wrapper-main .btn-sec {
    padding: 25px 10px;
  }
  .Wrapper-main .left-sidebar {
    padding: 38px 0px;
  }
  .Wrapper-main .left-sidebar ul li a span {
    margin-left: 6px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .sidebar nav a i {
    margin: 15px 0px;
  }
  .filter-sec input[type="date"] {
    padding: 6px 12px !important;
  }
  .sidebar nav a {
    display: flex;
    justify-content: center;
  }
  table .btn-1 {
    padding: 10px 10px !important;
     font-size: 14px !important;
  }
  table .btn-2 {
    padding: 5px 11px !important;
  }
  .Table-sec {
    overflow-x: auto;
  }
  .right .login-button {
    margin: 50px 0px 0px 0px;
  }
  .modal-box-2 p {
    font-size: 16px;
  }
  .right-sec {
    width: 90%;
  }
  .left-sidebar a span,
  a span {
    display: none;
  }
  .left-sidebar a,
  a {
    display: block;
    justify-content: center;
    display: flex;
  }
  .right-sec-2 {
    width: 90% !important;
  }
  .filter-sec {
    margin-top: 10px;
  }
  .right-sec-2 .btn-sec,
  .filter-sec {
    padding: 20px 20px;
  }
  .right-sec-2 h2 {
    font-size: 20px;
  }
  .leftbar ul li a span {
    display: none;
  }
  .left-sidebar {
    width: 10%;
  }
  .right-content {
    width: 90% !important;
  }
  .slider:before {
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 4px;
  }
  .switch {
    width: 52px;
    height: 30px;
  }
  .filter-sec .max-w-52 {
    max-width: 10rem;
  }
  .leave-sec {
    padding: 10px 10px;
  }
}

@media only screen and (max-width: 800px) {
  .sidebar nav a span {
    display: none;
  }
  .sidebar nav a i {
    font-size: 25px;
  }
  .sidebar nav a {
    padding: 15px 15px;
  }
  .sidebar {
    width: 10% !important;
  }
}

@media only screen and (min-width: 480px) and (max-width: 640px) {
  .img-sec img {
    width: 60%;
    height: auto;
    margin: 0 auto;
  }
  .form-sec {
    margin-top: 40px;
  }
  .right img {
    margin-bottom: 40px;
  }
  .filter-sec {
    margin: 0 15px;
    justify-content: space-between;
  }
  .filter-sec form select,
  button {
    padding: 5px 10px !important;
  }
  .attendance-table {
    padding: 15px 15px;
    margin: 25px 15px 0px;
  }
  .btn-sec button {
    padding: 7px 10px!important;
  }
}

@media only screen and (max-width: 640px) {
  .right-sec,
  .right-sec-2 {
    padding: 10px 15px;
  }
  .right .login-form button {
    padding: 8px 70px !important;
  }
}

/*media-query-mobile-screen*/
@media only screen and (max-width: 575px) {
  .add-modal {
    width: 280px !important;
  }
  .dialog-body {
    width: 300px;
  }
  .right-sec-2 {
    width: 90%;
  }
  .left-sidebar {
    width: 10%;
    padding: 40px 5px !important;
    border-top: 0;
    border-left: 0;
  }
  .left-sidebar a span {
    display: none;
  }
  .left-sidebar a {
    justify-content: center;
    display: flex;
  }
  .right-sec button,
  select {
    font-size: 14px !important;
  }
  .right-sec form select[id="countries"] {
    padding: 4px 10px !important;
  }
  .img-sec {
    display: none !important;
  }
  .right {
    height: 100vh;
  }
  .form-sec {
    min-width: 280px !important;
  }
  .right .login-button {
    margin: 35px 0px 0px 0px;
  }
  form h1::before {
    height: 2px;
    top: 95%;
  }
  .right .login-button button {
    margin-bottom: 20px !important;
  }
  .form-sec .login-form input {
    padding: 12px 6px 12px 40px !important;
  }
  .right .input-sec .form-icon {
    top: 68%;
    left: 18px;
  }
  .form-sec .login-form i {
    font-size: 14px;
  }
  .right .input-sec i {
    top: 48%;
    left: 14px;
  }
  .right .input-sec {
    margin-bottom: 40px !important;
  }
  .right .input-sec input::placeholder {
    font-size: 14px;
  }
  form button {
    margin-bottom: 10px !important;
  }
  .Table-sec {
    overflow-x: auto;
  }
  .right-sec {
    width: 90%;
  }
  .sidebar {
    width: 10%;
  }
  .sidebar nav a i {
    margin: 10px 0px;
  }
  .sidebar nav a {
    display: flex;
    justify-content: center;
  }
  .right-sec .btn-1 {
    font-size: 10px;
    margin-right: 6px !important;
  }
  table .btn-1 {
    padding: 7px 8px !important;
  }
 
  table th {
    font-weight: 500;
    font-size: 16px;
  }
  table td .modal p {
    font-size: 15px !important;
  }
  table td {
    font-size: 16px;
  }
  .box-shadow {
    padding: 20px 15px !important;
  }
  .header-sec {
    padding: 12px 20px !important;
  }
  .header {
    padding: 12px 20px !important;
  }
  .logo img {
    width: 60%;
  }
  .logo {
    width: 60%;
  }
  .profile-right {
    width: 40%;
    justify-content: end !important;
  }
  .profile-right a img {
    width: 40px;
  }
  .profile-right span {
    font-size: 20px;
    margin-right: 10px;
  }
  .collapp {
    display: none;
  }
  .btn-sec {
    padding: 10px 0px;
    margin: 15px 15px 10px;
  }
  .btn-sec h2 {
    font-size: 20px;
  }
  .left-sidebar nav a span {
    display: none;
  }
  .left-sidebar nav a {
    display: block;
    text-align: center;
  }
  .left-sidebar a {
    padding: 8px 0px!important;
  }
  .filter-sec {
    margin: 15px 10px 0px !important;
  }
  .header-logo {
    width: 100%!important;
 }
  .header-sec .logout {
    width: 20px !important;
  }
  .filter-sec .max-w-52 {
    max-width: 8rem;
  }
  .second-sec .left-sidebar ul li {
    margin: 0px 0px 25px 0px !important;
  }
  .right-sec dialog .text-size,
  .Wrapper-main .right-sec-2 dialog .text-size {
    font-size: 23px !important;
    margin: 5px 0px 25px 0px !important;
  }
  .Wrapper-main .btn-sec option {
    width: 160px;
  }
  .filter-sec input[type="date"] {
    padding: 4px 10px !important;
  }
}

/*media-query-for-iphone-screen*/
@media only screen and (max-width: 480px) {
  .img-sec img {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }
  .form-sec {
    margin-top: 45px;
    padding: 15px 25px !important;
  }
  .right img {
    margin-bottom: 40px;
  }
  form h1 {
    margin-bottom: 35px !important;
    font-size: 28px !important;
    margin-top: 5px !important;
  }
  form button {
    margin-bottom: 45px !important;
  }
  .dropdown summary {
    font-size: 14px;
  }
  .right-sec .btn-1,
  .btn-2 {
    font-size: 10px !important;
  }
  .right-sec {
    padding: 10px 8px !important;
  }
  .logo {
    width: 53%;
  }
  .logo img {
    width: 70%;
  }
  .filter-sec {
    justify-content: space-between;
    padding: 15px 10px !important;
    margin: 25px 10px 0px !important;
    flex-wrap: wrap;
    gap: 12px;
  }
  .filter-sec .max-w-52 {
    max-width: 7rem;
  }
  .filter-sec button {
    font-size: 14px;
  }
  .filter-sec form select,
  button {
    padding: 5px 10px !important;
    font-size: 14px !important;
  }
  .attendance-table {
    margin: 25px 10px;
    padding: 40px 15px !important;
    box-shadow: 1px 1px 7px lightgray;
    border-radius: 5px;
  }
  .btn-sec h2 {
    font-size: 16px;
  }
  .btn-sec {
    padding: 10px 0px;
    margin: 22px 10px 10px;
  }
  .header-logo {
    width: 63% !important;
}
  .switch {
    width: 55px;
    height: 30px;
  }
  .slider:before {
    height: 22px;
    width: 22px;
  }
}